body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#inputOverlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

input, button {
    padding: 1px;
    font-size: 20px;
}